<h1>やること一覧</h1>
<div>
  <% @tasks.each do |task| %>
    <div class="tasks-index-item">
      <%= task.content %>
      <div class="task-time">
        <%= task.created_at %>
      </div>
      <div class="task-menus">
        <%= link_to("がんばった", "/tasks/#{task.id}/done", {method: :put}) %>
        <%= link_to("編集", "/tasks/#{task.id}/edit") %>
        <%= link_to("削除", "/tasks/#{task.id}/destroy", {method: :post}) %>
      </div>

    </div>
  <% end %>
  <div>
    <%= link_to("+ New", "/tasks/new") %>
  </div>
</div>
